extends layout

block content
	include tools/marger.pug
	section#left
		h1= owner.name.first + ' ' + owner.name.last
		p!= owner.description
		.extern-links
			| Find me on 
			each link in owner.links
				a(href=link.href)= link.value
		#projects
			each project in projects
				.project
					- var iter = 0
					each button in project.skills
						if iter >= config.list_limit_skills_number
							- break
						case button.highlight
							when true
								a.button.highlight-button(href="#")= button.value
								- break
							default
								a.button(href="#")= button.value
						- iter++
					.project-infos
						a.project-name(href="project/" + project.route)= project.short
							|  - 
						span.project-time(href="#")= project.date
	section#right
		each project in projects
			.project-right
				header.header-projects
					.project-title
						h1= project.name
						h3= project.date
					.skills
						- iter = 0
						each button in project.skills
							if iter >= config.projects_limit_skills_number
								- break
							case button.highlight
								when true
									a.button.highlight-button(href="#")= button.value
									- break
								default
									a.button(href="#")= button.value
							- iter++
				if project.desImage
					img(src=project.desImage)
				p!= project.description
